<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card
    status="Hold"
    createdAt="05/10/2023, 17:25"
    updatedAt="17/10/2023, 12:10 AM"
    notes="We have two bags that are full. One with glass and
    the other with sand."
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="Processing"
    createdAt="02/09/2023, 14:16"
    updatedAt="03/10/2023, 12:10 AM"
    notes="We have two bags that are full. One with glass and
  the other with sand."
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="Finished"
    createdAt="05/10/2023, 17:25"
    updatedAt="20/10/2023, 12:10 AM"
    moneyGathered="15.00"
  ></app-pickup-call-card>
</ion-content>
