<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recyclica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img
          src="https://media.istockphoto.com/id/1162440985/vector/user-profile-icon-flat-red-round-button-vector-illustration.jpg?s=170667a&w=0&k=20&c=6BIOVLbdqvpa_X16ZYlQslHEdlXWc0uNJtG7IJ36Rqc="
        />
      </ion-avatar>
      <ion-label
        ><h1>Idan Cohen</h1>
        <p>Gathered<span class="money"> 15.00$</span></p></ion-label
      >
    </ion-item>
  </ion-list>
  <app-pickup-call-card
    [hasHeader]="true"
    [hasFooter]="true"
  ></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
